<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addclg</servlet-name>
        <servlet-class>Controller.addclg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addept</servlet-name>
        <servlet-class>Controller.addept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdept</servlet-name>
        <servlet-class>ajaxpack.getdept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checktype</servlet-name>
        <servlet-class>Controller.checktype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getename</servlet-name>
        <servlet-class>ajaxpack.getename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getemail</servlet-name>
        <servlet-class>ajaxpack.getemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getephone</servlet-name>
        <servlet-class>ajaxpack.getephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerhod</servlet-name>
        <servlet-class>Controller.registerhod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classreg</servlet-name>
        <servlet-class>Controller.classreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setprofile</servlet-name>
        <servlet-class>Controller.setprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadnotice</servlet-name>
        <servlet-class>Controller.uploadnotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadpaper</servlet-name>
        <servlet-class>Controller.uploadpaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitspecial</servlet-name>
        <servlet-class>Controller.submitspecial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerstud</servlet-name>
        <servlet-class>Controller.registerstud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadnotes</servlet-name>
        <servlet-class>Controller.uploadnotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofilepic</servlet-name>
        <servlet-class>Controller.getprofilepic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadnotes_spec</servlet-name>
        <servlet-class>Controller.uploadnotes_spec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadpaper_spec</servlet-name>
        <servlet-class>Controller.uploadpaper_spec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadnotes_teach</servlet-name>
        <servlet-class>Controller.uploadnotes_teach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatehodprofile</servlet-name>
        <servlet-class>Controller.updatehodprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatespecialprofile</servlet-name>
        <servlet-class>Controller.updatespecialprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestudentprofile</servlet-name>
        <servlet-class>Controller.updatestudentprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateteacherprofile</servlet-name>
        <servlet-class>Controller.updateteacherprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitdoubt</servlet-name>
        <servlet-class>Controller.submitdoubt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadcode</servlet-name>
        <servlet-class>Controller.downloadcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadpaper</servlet-name>
        <servlet-class>Controller.downloadpaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadnotice</servlet-name>
        <servlet-class>Controller.downloadnotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendrequest</servlet-name>
        <servlet-class>Controller.sendrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitassetrequest</servlet-name>
        <servlet-class>Controller.submitassetrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendofficerequest</servlet-name>
        <servlet-class>Controller.sendofficerequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendspecrequest</servlet-name>
        <servlet-class>Controller.sendspecrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendteachrequest</servlet-name>
        <servlet-class>Controller.sendteachrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendstudrequest</servlet-name>
        <servlet-class>Controller.sendstudrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateofficeprofile</servlet-name>
        <servlet-class>Controller.updateofficeprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifyupdate</servlet-name>
        <servlet-class>Controller.notifyupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptstudrequest</servlet-name>
        <servlet-class>Controller.acceptstudrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitattendanceteach</servlet-name>
        <servlet-class>Controller.submitattendanceteach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitattendancespec</servlet-name>
        <servlet-class>Controller.submitattendancespec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitattendancehod</servlet-name>
        <servlet-class>Controller.submitattendancehod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addclg</servlet-name>
        <url-pattern>/addclg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addept</servlet-name>
        <url-pattern>/addept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdept</servlet-name>
        <url-pattern>/getdept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checktype</servlet-name>
        <url-pattern>/checktype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getename</servlet-name>
        <url-pattern>/getename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getemail</servlet-name>
        <url-pattern>/getemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getephone</servlet-name>
        <url-pattern>/getephone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerhod</servlet-name>
        <url-pattern>/registerhod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classreg</servlet-name>
        <url-pattern>/classreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setprofile</servlet-name>
        <url-pattern>/setprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadnotice</servlet-name>
        <url-pattern>/uploadnotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadpaper</servlet-name>
        <url-pattern>/uploadpaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitspecial</servlet-name>
        <url-pattern>/submitspecial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerstud</servlet-name>
        <url-pattern>/registerstud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadnotes</servlet-name>
        <url-pattern>/uploadnotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofilepic</servlet-name>
        <url-pattern>/getprofilepic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadnotes_spec</servlet-name>
        <url-pattern>/uploadnotes_spec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadpaper_spec</servlet-name>
        <url-pattern>/uploadpaper_spec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadnotes_teach</servlet-name>
        <url-pattern>/uploadnotes_teach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatehodprofile</servlet-name>
        <url-pattern>/updatehodprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatespecialprofile</servlet-name>
        <url-pattern>/updatespecialprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestudentprofile</servlet-name>
        <url-pattern>/updatestudentprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateteacherprofile</servlet-name>
        <url-pattern>/updateteacherprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitdoubt</servlet-name>
        <url-pattern>/submitdoubt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadcode</servlet-name>
        <url-pattern>/downloadcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadpaper</servlet-name>
        <url-pattern>/downloadpaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadnotice</servlet-name>
        <url-pattern>/downloadnotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendrequest</servlet-name>
        <url-pattern>/sendrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitassetrequest</servlet-name>
        <url-pattern>/submitassetrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendofficerequest</servlet-name>
        <url-pattern>/sendofficerequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendspecrequest</servlet-name>
        <url-pattern>/sendspecrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendteachrequest</servlet-name>
        <url-pattern>/sendteachrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendstudrequest</servlet-name>
        <url-pattern>/sendstudrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateofficeprofile</servlet-name>
        <url-pattern>/updateofficeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifyupdate</servlet-name>
        <url-pattern>/notifyupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptstudrequest</servlet-name>
        <url-pattern>/acceptstudrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitattendanceteach</servlet-name>
        <url-pattern>/submitattendanceteach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitattendancespec</servlet-name>
        <url-pattern>/submitattendancespec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitattendancehod</servlet-name>
        <url-pattern>/submitattendancehod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
